/* VARIABLES */

:root {
    --primary: #C271FF;
    --secondary: #071629;
    --light-text: #fff;
    --dark-text: rgba(7, 22, 41, 0.5);
}

/* RESET */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

body{
	font-family: 'Source Sans Pro';
	font-style: normal;
}

header {
	display: flex;
	flex-direction: ROW;
	flex: auto;
	background-image: url(images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 2% 5% 2% 5%;
	filter: grayscale(100%);
	position: absolute;
	left: -0.025%;
	right: -0.025%;
	top: 0%;
	bottom: -26.48%;
}
header.logo {
	flex: 5;
	z-index: 2;
}

header .nav-urls {
	flex: 4;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	z-index: 1;
	display: flex;
	justify-content: space-evenly;
}

header .nav-urls a {
	margin-left: 1%;
	margin-right: 1%;
	text-decoration: none;
	color: var(--light-text);
}



