body{
    display: flex;
    flex-direction: column;
    font-family: georgia;
	background-color: #EEE;
	margin: o;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
   
}
aside{
    flex: 1;
    overflow-y: auto;
    border: #333;
    border-width: 1px;
}
#header{
	text-align: left;
	background-color: #333;
	color: white;
    scroll-padding-left: 5px;
	margin: 0;
}
p{
    font-size: 18px;
}
nav ul {
    list-style: none;
    display: flex
}
nav ul li {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;

}
