body{
    display: flex;
    flex-direction: column;
    font-family: georgia;
	background-color: #EEE;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y: auto;
   
}
aside{
    flex: 1;
    overflow-y: auto;
    margin-left: 100px;
    background-color: #411f1f;
    color: #fff;
    padding: 25px 10px;
    justify-content: center;
}
/* Style for Header*/
#header{
	text-align: left;
	background-color: #411f1f;
	color: rgb(239, 239, 232);
    scroll-padding-left: 5px;
	margin: 0;
}

/* Style for paragraph*/
p{
    font-size: 18px;
}
/* Style for logo */
header {
    display:flex;
    align-items: center;
}
.logo{
    width: auto;
    max-height: 100%;
    font-family: lucida Sans;
    font-size: 20px;
    
}
/* Style for navigation menu */
nav ul {
    list-style: none;
    display: flex
}
nav ul li {
    margin-left: 10px;
    color: #eadddd;
    text-decoration: none;
}
nav ul li a{
    color: rgb(250, 246, 246);
    text-decoration: none;
    background-color: #044632;
    border-radius: 5px;
    padding: 2px;
}
/* Style for image*/
.circle{
    width: 350px;
    height: 350px;
    border-radius: 70%;
    overflow: hidden;
}
.circle img {
    width: 100%; height: auto;
}
